@font-face {
    font-family: "Inter";
    src: url('../font/Inter-Regular.ttf');
    font-style: normal;
}

.bgHockey{
    position: absolute;
    width: 582px;
    height: 294px;
    left: 669px;
    top: 393px;

    background: #2E2E2E;
    box-shadow: 0px 0px 38px #1E1E1E;
    border-radius: 37px;
}

.hockeyText{
    position: absolute;
    width: 247px;
    height: 24px;
    left: 167px;
    top: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.hockeyTable{
    display: flex;
}

.line{
    position: relative;
    width: 10px;
    height: 240px;
    left: 134px;
    top: 54px;
    margin-right: 150px;

    background: #474747;
    border-radius: 12px 12px 0px 0px;
}

.hockeyTeam1{
    position: absolute;
    width: 60px;
    height: 34px;
    left: 30px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
}

.hockeyTeam2{
    position: absolute;
    width: 60px;
    height: 34px;
    left: 30px;
    top: 205px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
}

.hockeyReal{
    position: absolute;
    width: 69px;
    height: 34px;
    left: 180px;
    top: 55px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
}

.hockeyFake{
    position: absolute;
    width: 126px;
    height: 34px;
    left: 310px;
    top: 55px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
}

.result{
    position: absolute;
    width: 44px;
    height: 17px;
    left: 491px;
    top: 59px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #FFFFFF;
}

.real1{
    position: absolute;
    width: 9px;
    height: 17px;
    left: 210px;
    top: 108px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.real2{
    position: absolute;
    width: 9px;
    height: 17px;
    left: 210px;
    top: 215px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #FFFFFF;
}

.fake1{
    position: absolute;
    width: 9px;
    height: 17px;
    left: 362px;
    top: 108px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #FFFFFF;
}

.fake2{
    position: absolute;
    width: 9px;
    height: 17px;
    left: 362px;
    top: 215px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #FFFFFF;
}

.resultText{
    position: absolute;
    width: 101px;
    height: 66px;
    left: 470px;
    top: 133px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}